.base-info-config {
  padding: 10px;

  .version-info {
    font-size: 12px;
    color: #b6b8bb;
    padding: 8px;
    margin-bottom: 10px;
    border-left: 3px solid #626262;
    background-color: #313131;


  }


}