/*
 * Copyright © 2023-2025 puyinzhen
 * All rights reserved.
 *
 * The copyright of this work (or idea/project/document) is owned by puyinzhen. Without explicit written permission, no part of this work may be reproduced, distributed, or modified in any form for commercial purposes.
 *
 * This copyright statement applies to, but is not limited to: concept descriptions, design documents, source code, images, presentation files, and any related content.
 *
 * For permission to use this work or any part of it, please contact 1182810784@qq.com to obtain written authorization.
 */

.card-panel {
  margin-bottom: 15px;

  .card-panel-label {
    color: #d1dfe9;
    margin-bottom: 10px;
    font-size: 13px;

    .card-help {
      font-size: 14px;
      position: relative;
      top: 3px;
      cursor: pointer;
    }
  }

  .card-panel-content {
    color: #c6c9cd;
    font-size: 12px;
    padding: 0 10px;
  }
}