.user-panel {

  .avatar-preview-container {
    display: flex;
    align-items: flex-end;

    .avatar-preview {
      width: 200px;
      padding: 5px;
      border: 1px dashed #2079ff;
      border-radius: 3px;
      box-sizing: border-box;
      overflow: hidden;
      margin-right: 8px;
    }
  }


}