@font-face {
    font-family: "DingTalk JinBuTi";
    src: url('font/DingTalk JinBuTi.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DottedSongtiCircleRegular";
    src: url('font/DottedSongtiCircleRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DouyinSansBold";
    src: url('font/DouyinSansBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LHTFONT";
    src: url('font/LHTFONT.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "优设标题黑";
    src: url('font/优设标题黑.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "字体传奇南安体-免费商用";
    src: url('font/字体传奇南安体-免费商用.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "庞门正道标题体免费版";
    src: url('font/庞门正道标题体免费版.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "站酷文艺体";
    src: url('font/站酷文艺体.ttf');
    font-weight: normal;
    font-style: normal;
}