.lc-input-content {
  display: flex;
  align-items: center;

  .lc-input-body {
    position: relative;
    flex-grow: 1;

    .lc-input[type=number] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    .lc-input {
      font-size: inherit;
      width: 100%;
      font-family: inherit;
      background-color: transparent;
      border: 1px solid transparent;
    }

    .lc-input:focus {
      outline: none;
    }

    .lc-input::placeholder {
      color: #FFFFFF99;
    }

    .lc-input-span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #686868;
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    .lc-input:focus ~ span {
      transform-origin: bottom left;
      transform: scaleX(1);
    }

  }
}