/*
 * Copyright © 2023-2025 puyinzhen
 * All rights reserved.
 *
 * The copyright of this work (or idea/project/document) is owned by puyinzhen. Without explicit written permission, no part of this work may be reproduced, distributed, or modified in any form for commercial purposes.
 *
 * This copyright statement applies to, but is not limited to: concept descriptions, design documents, source code, images, presentation files, and any related content.
 *
 * For permission to use this work or any part of it, please contact 1182810784@qq.com to obtain written authorization.
 */

.bp-header {
  width: 100%;
  height: 50px;
  background-color: #1f1f1f;
  line-height: 50px;
  color: #c3c3c3;
  padding: 0 15px;
  border-bottom: 1px solid #2e2e2e;
  display: flex;
  justify-content: space-between;


  .bp-header-title {
    font-size: 16px;
  }
}