/*
 * Copyright © 2023-2025 puyinzhen
 * All rights reserved.
 *
 * The copyright of this work (or idea/project/document) is owned by puyinzhen. Without explicit written permission, no part of this work may be reproduced, distributed, or modified in any form for commercial purposes.
 *
 * This copyright statement applies to, but is not limited to: concept descriptions, design documents, source code, images, presentation files, and any related content.
 *
 * For permission to use this work or any part of it, please contact 1182810784@qq.com to obtain written authorization.
 */

.monaco-editor-container {
  border: 2px solid #2d2d2d;
}

.monaco-editor-button-bar {
  display: flex;
  flex-direction: row-reverse;

  .editor-full-btn {
    position: relative;
    top: -24px;
    right: 6px;
    font-size: 16px;
    color: #939393;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      color: #47a4ff;
    }
  }
}

