.light-chaser-list {
  background-color: #2b2b2b;

  .lc-list-head {
    border-bottom: 1px solid #00e8ff4d;
    display: flex;
    height: 64px;
    padding: 0 50px;
    align-items: center;

    .lc-list-head-title {
      font-size: 21px;
      font-weight: 900;
      color: rgb(167, 255, 255);
    }
  }

  .lc-list-statistics {
    padding: 20px 50px;

    .lc-list-statistics-title {
      line-height: 45px;
    }


    .lc-list-statistics-items {
      display: flex;

      .lc-statistics-item {
        border-radius: 5px;
        margin-right: 20px;
        background: #086FA1;
        width: 150px;
        height: 100px;
        text-align: center;

        .lc-statistics-label {
          display: block;
          color: #99cfc1;
        }

        .lc-statistics-data {
          font-size: 40px;
          font-weight: 600;
          color: rgba(25, 255, 255, 0.81);
        }
      }

    }


  }

  .lc-list-content {
    padding: 20px 50px;

    .lc-list-content-title {
      color: #00fffb;
      line-height: 45px;
    }

    .lc-list-content-datas {
      display: flex;
      flex-wrap: wrap;

      .lc-list-content-data {
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #1e696a;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: whitesmoke;
      }
    }
  }

  .lc-new-screen-dialog {
    .lc-new-screen-item {
      display: flex;
    }
  }

}