.axis-config {
  padding: 10px 0;

  .axis-config-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 0;

    .axis-config-title {
      width: 20%;
    }

    .axis-config-body {
      width: 75%;

      .axis-config-item {

      }
    }

    .ant-radio-wrapper {
      color: #00ebff;
    }
  }
}