.lc-cfg-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 45px;
  padding: 5px;

  .lc-cfg-title {
    width: 20%;
    font-size: 14px;
  }

  .lc-cfg-content-row {
    display: flex;
    width: 78%;
    justify-content: flex-end;
  }

  .lc-cfg-content-block {
    width: 78%;
    display: flex;
    flex-wrap: wrap;

    .lc-cfg-block {
      width: calc(50% - 10px);
      margin: 0 10px 10px 0;

      .lc-cfg-block-title {
        font-size: 12px;
        margin-bottom: 3px;
      }

      .lc-cfg-block-content {

      }
    }
  }
}
