.lc-cfg-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 45px;
  padding: 5px;
  color: #01fffd;

  .lc-cfg-title {
    width: 20%;
    font-size: 14px;
    color: #01fffd;
  }

  .lc-cfg-content-row {
    display: flex;
    width: 78%;
    justify-content: flex-end;
  }

  .lc-cfg-content-block {
    width: 78%;
    display: flex;
    flex-wrap: wrap;
  }
}
