select {
  background-color: transparent;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0 solid #008393;
  border-bottom-width: 2px;
  ransition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  min-width: 45px;
  text-align: center;

  option {
    background-color: rgba(0, 68, 99);
  }
}

select:hover {
  border-color: #00ebff;
  ransition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
}
