.lc-select {
  width: 100%;

  .ant-select {
    width: inherit;
  }

  .ant-select-selector {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    color: #01fffd !important;
  }

}

.ant-select-item {
  color: #00cdca !important;
}

.ant-select-dropdown {
  background: #033e59 !important;

}

.ant-select-item-option-active {
  background: #006e8b !important;
  color: #68ffff !important;

}

