.lc-underline-input-container {
  position: relative;
  width: 100%;
}

.lc-underline-input[type=number] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  -moz-appearance: textfield;
}

.lc-underline-input {
  color: #46eeff;
  font-size: inherit;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: hsla(185, 100%, 62%, 0.2);
}

.lc-underline-input:focus {
  outline: none;
}

.lc-underline-input::placeholder {
  color: #46eeff;
}

.lc-underline-input::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

.lc-underline-span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.lc-underline-input:focus ~ span {
  transform-origin: bottom left;
  transform: scaleX(1);
}
