.lc-config-panel {
  z-index: 1;
  animation: lcFadeInUp 0.5s forwards;
}

@keyframes lcFadeInUp {
  0% {
    z-index: -1;
    opacity: 0;
    transform: translateX(35px);
  }
  60% {
    z-index: -1;
    opacity: 1;
    transform: translateX(35px);
  }
  80% {
    z-index: -1;
    opacity: 1;
    transform: translateX(35px);
  }
  100% {
    z-index: -1;
    opacity: 1;
    transform: translateX(0);
  }

}