/*
 * Copyright © 2023-2025 puyinzhen
 * All rights reserved.
 *
 * The copyright of this work (or idea/project/document) is owned by puyinzhen. Without explicit written permission, no part of this work may be reproduced, distributed, or modified in any form for commercial purposes.
 *
 * This copyright statement applies to, but is not limited to: concept descriptions, design documents, source code, images, presentation files, and any related content.
 *
 * For permission to use this work or any part of it, please contact 1182810784@qq.com to obtain written authorization.
 */

@tdRowHeight: 0px;

.base-table {
  width: 100%;
  height: 100%;
  overflow: hidden;

  table {
    width: 100%;
    height: 100%;
    text-align: center;

    thead {
      position: relative;
      z-index: 1;
    }

    .scroll-body {
      overflow: hidden;
      animation: scroll 10s linear infinite;

      td {
        height: @tdRowHeight;
      }
    }

  }
}


@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}