.right-slide-box {
  .ant-drawer-wrapper-body {
    .ant-drawer-header {
      background-image: linear-gradient(to right, #243949 0%, #3b5a77 100%);
      border-bottom: 3px solid #508d89;

      .ant-drawer-title {
        color: #f5f5f5;
      }

      button {
        color: #f5f5f5;
      }
    }

    .ant-drawer-body {
      background-image: linear-gradient(to bottom right, #30495c 0%, #36506b 100%);
    }
  }
}