.moveable-line {
  display: none !important;
}

.moveable-guideline {
  display: block !important;
}


.moveable-control {
  width: 4px !important;
  height: 4px !important;
  margin-top: -2px !important;
  margin-left: -1.5px !important;
  border: 1px solid #89e9ff !important;
}