.layerItemStyle {
  color: #b6b6b6ff;
  padding: 3px 10px;
  font-size: 10px;
  height: 25px;
  background: #363636;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
}

.layer-list {
  .list-search {
    padding: 5px;

    input {
      background-color: #363636;
      transition: background-color 0.5s;
    }

    input:hover {
      background-color: #2a2a2a;
      transition-duration: 0.3s;
    }


    input::placeholder {
      color: #818181;
      transition-duration: 0.3s;
    }
  }

  .layer-items {
    height: calc(100% - 84px);
    overflow-y: auto;
    padding: 0 5px;

    .layer-item {
      .layerItemStyle();
      margin-bottom: 5px;

      .layer-name {
        pointer-events: none;
      }

      .layer-operators {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .layer-operator {
          margin-left: 5px;

          img {
            width: 12px;
          }
        }
      }
    }

    .layer-group {
      width: 100%;
      color: #b6b6b6ff;
      margin-bottom: 5px;

      .group-header {
        .layerItemStyle();

        .group-left {
          pointer-events: none;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .group-icon {
            margin-right: 5px;
          }
        }

        .group-operators {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .group-operator {
            margin-left: 5px;
            cursor: pointer;

            img {
              width: 12px;
            }
          }
        }
      }

      .group-content {
        padding: 5px 0 0 3px;
      }
    }

    .layer-item:hover, .group-header:hover {
      background: #00aeff54;
    }

    .layer-selected {
      background: #00aeff54 !important;
    }

    .layer-lock {
      background: #ff1f1f59 !important;
    }

    .layer-hide {
      background: #97979799 !important;
      cursor: not-allowed;
    }

  }
}