.layer-list {
  .list-search {
    .ant-input {
      margin: 0;
      color: #c9c9c9;
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid rgb(54, 54, 54);
    }
  }
}