.lc-data-config {

  .static-data-btn-arr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    .lc-button {
      font-size: 12px;
      width: 100%;
      height: 30px;
    }
  }
}