.permission-management {
  position: relative;
  height: 100%;

  .permission-management-header {
    padding: 13px;

    .ant-btn {
      margin-right: 13px;

      .i-icon {
        position: relative;
        top: 2px;
        margin-right: 3px;
      }
    }
  }

  .permission-management-body {
    padding: 0 13px 13px;
  }
}