.frame-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .fl-header {
    width: 100%;
  }

  .fl-body {
    display: flex;
    flex-grow: 1;
    overflow: auto;

    .fl-crf-box {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .fl-cr-box {
        display: flex;
        flex-grow: 1;

        .fl-content {
          flex-grow: 1;
          overflow: hidden;
        }
        .fl-content-bg{
          background-image: linear-gradient(#18181c 14px,transparent 0),linear-gradient(90deg,transparent 14px,#86909c 0),linear-gradient(-90deg,transparent 14px,#86909c 0);
          background-size: 15px 15px, 15px 15px;
          background-color: #1c1f22;
        }
      }

      .fl-footer {
        width: 100%;
      }
    }
  }
}
