.lc-text-area-container {
  flex-grow: 1;

  .lc-text-area {
    font-size: inherit;
    background-color: #39393a;
    box-shadow: 0 0 5px #0000007F, 0 0 0 3px transparent;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 2px 5px;
    width: 100%;
    min-height: 80px;
    max-height: 400px;
    transition: box-shadow 0.4s;
  }

  .lc-text-area:focus {
    box-shadow: 0 0 0 1px #787878;
  }
}