.lc-coordinate-plane {

  .item-name {
    width: 20%;
  }

  .item-value {
    width: 75%;

    .lc-axis-switch {
      display: flex;
      justify-content: flex-end;
    }

    .lc-axis-items {
      display: flex;

      .lc-axis-item {
        width: 150px;

        .lc-axis-line-width-value {

        }

        .lc-axis-line-width-title {
          
        }
      }
    }
  }
}