.bp-left {
  padding: 3px;
  height: 100%;
  background-color: #1a1a1a;

  .bp-left-item:hover {
    background-color: #3d3d3d;
    color: #9ed4ff;
    cursor: pointer;
  }

  .bp-left-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999999;
    padding: 10px 2px;
    transition: background-color, color, 0.3s ease-in-out;

    .bp-item-label {
      margin-top: 5px;
      font-size: 12px;
    }

    .bp-item-icon {
      font-size: 20px;
    }
  }
}