.lc-global-set {
  .lc-global-set-content {

    .ant-upload {
      border: 0;
      background-color: rgba(6, 106, 118, 0.45);
    }

    .lc-cfg-item {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-name {
        width: 20%;

      }

      .item-value {
        width: 75%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}