@lc-config-color-1: #60f2ff;
@lc-config-color-2: #1bf1ff;
@lc-config-color-3: #00f0ff;
@lc-config-color-4: #17cde0;

@lc-font-size-sm: 12px;
@lc-font-size-sl: 13px;
@lc-font-size-ml: 14px;
@lc-font-size-mg: 15px;
@lc-font-size-lg: 16px;